ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background:grey;
    height:50px;
  }
  
  li {
    display: inline-flex;
    margin:15px;
    padding:3px;
   
  }
  a{
    color:white;
  }